@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoBrasil.Models.ContatoModel>

@using (Html.BeginUmbracoForm<UmbracoBrasil.Controllers.ContatoSurfaceController>("Enviar", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="contact-form-name">Nome</label>
                @Html.TextBoxFor(m => m.Nome, new {  @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Nome)
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="contact-form-subject">Assunto</label>
                @Html.TextBoxFor(m => m.Assunto, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="contact-form-email">E-mail</label>
                @Html.TextBoxFor(m => m.Email, new {  @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
    </div>
        <div class="form-group">
            <label for="contact-form-message">Mensagem</label>
            @Html.TextAreaFor(m => m.Mensagem, new { @class = "form-control", rows = "6" })
            @Html.ValidationMessageFor(x => x.Mensagem)
        </div>
        <button type="submit" class="btn btn-primary pull-right">Enviar</button>
}